md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
  height: 100vh;
  min-width: 200px !important;
  width: 50vw !important;
  max-width: 200px !important;
  background-color: #425360;
}
