div(layout="vertical")
  md-sidenav(md-component-id="left", class="md-sidenav-left", md-is-locked-open="true")
    p stuff
    p stuff
    p stuff
    p stuff
  md-content(flex="100")
    vis-directive

